{% extends 'auth/base.html' %}

{% load static %}

{#{%block content%}#}
{#<div class="center">#}
{#	<form method="post" class="card">#}
{#		{% csrf_token %}#}
{#	    <h2 class="text-center">Reset Password</h2>#}
{#		{% for field in form %}#}
{#	    		{{ field.label_tag }}#}
{#	        	{{ field }}#}
{#	        	{% if field.errors %}#}
{#	        		<small>{{ field.errors|striptags  }}</small>#}
{#	        	{% endif %}#}
{#		{% endfor %}#}
{#		<div class="form-buttons">#}
{#			<input type="submit" value="Send" class="btn btn-primary">#}
{#			<a href="{%url 'login' %}"  class="btn btn-outline">Cancel</a>#}
{#		</div>#}
{#	</form>#}
{#	</div>#}
{#{%endblock content%}#}
{% block main_content %}
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{% static 'users/vendors/images/forgot-password.png' %}" alt="">
        </div>
        <div class="col-md-6">
            <div class="login-box bg-white box-shadow border-radius-10">
                <div class="login-title">
                    <h2 class="text-center text-primary">Forgot Password</h2>
                </div>
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <small>{{ field.errors|striptags  }}</small>
                    {% endif %}
                {% endfor %}
                <h6 class="mb-20">
                    Enter your email address to reset your password
                </h6>
                <form method="post" action="{% url 'reset_view' user_id token %}">
                    {% csrf_token %}
                    <div class="input-group custom">
                        <input type="password" name="password1" class="form-control form-control-lg" placeholder="Password1">
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="input-group custom">
                        <input type="password" name="password2" class="form-control form-control-lg" placeholder="Password2">
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-5">
                            <div class="input-group mb-0">
                                <!--
                                use code for form submit
                                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                            -->
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                            </div>
                        </div>
{#                        <div class="col-2">#}
{#                            <div class="font-16 weight-600 text-center" data-color="#707373"#}
{#                                 style="color: rgb(112, 115, 115);">#}
{#                                OR#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-5">#}
{#                            <div class="input-group mb-0">#}
{#                                <a class="btn btn-outline-primary btn-lg btn-block"#}
{#                                   href="{% url 'login_view' %}">Login</a>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}